{% extends "accounts/base_accounts.html" %}
{% load static %}

{% block title %}
    ورود کاربران
{% endblock %}

{% block main_content %}
    <form action="" method="post" class="login-form">
    {% csrf_token %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <div class="form-group row">
        <label class="col-3">نام کاربری:</label>
        <input class="col-9 form-control" type="text" name="username" value="{{ username }}"/>
    </div>
    <div class="form-group row">
        <label class="col-3">گذر واژه:</label>
        <input class="col-9 form-control" type="password" name="password"/>
    </div>
    <div class="form-group row justify-content-center">
        <div class="col-4">
            <button type="submit" class="btn btn-success w-100">
                ورود
            </button>
        </div>
    </div>
    </form>
{% endblock %}