{% extends "accounts/base_accounts.html" %}
{% load static %}

{% block title %}
پرداخت های من
{% endblock %}

{% block toolbar_title %}
<i class="fas fa-receipt"></i>
    پرداخت های من
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-12 mt-2">
            <a href="{% url "accounts" %}">
                <i></i>
            </a>
        </div>
    </div>
{% endblock %}