@font-face {
    font-family: IRANSansWeb;
    src: url(../webfonts/IranianSans.ttf);

}
body{
    direction: rtl;
    text-align: right;
    font-family: IRANSansWeb;
    font-size: 14px !important;
    margin: 0;
    background-color: #e6e6e6;
}
#container{
    max-width: 720px;
    margin: 0 auto;
    background-color: #ffffff;
}
#header{
    background-color: #860002;
    color: #ffffff;
    height: 100px;
}
#header > h2{
    font-size: 2em;
}
#toolbar{
    background-color: rgba(24, 31, 34, 0.85);
    min-height: 30px;
    color: #ffffff;
}
#toolbar > h4{
    font-size: 1.2em;
    margin: 0;
}
#toolbar .btn{
    font-size: 0.7em;
}
#toolbar div.dropdown {
    display: inline-block;
}
#toolbar .dropdown-item{
    font-size: 0.7em;
}

#footer{
    background-color: #990002;
    color: #ffffff;
    height: 100px;
}
li:nth-child(odd){
    background-color: rgba(136, 150, 157, 0.57);
    height: 30px;
    padding: 5px;

}
li:nth-child(even){
    background-color: #fff3cd;
    height: 30px;
    padding: 5px;
}
a{
    text-decoration: none;
    color: black;
}
#director{
    text-decoration: none;
    color: rgba(33, 33, 33, 0.79);
}
ul{
    list-style-type: none;
}


/*item disable page styles */
.item-details > div.row > div {
    line-height: 2em;
    background-color: #e6e6e6;
}

.item-text-box {
    font-size: 0.8em;
    min-height: 100px;
    background-color: #e6e6e6;
    text-align: justify;
}

.item-image {
    width: 150px;
    min-height: 20px;
    border: solid 1px #393939;
}

/*showtime list page styles */
.showtime-box {
    padding: 10px;
    font-size: 0.9em;
}

.showtime-box .showtime.status {
    font-size: 0.8em;
    font-weight: normal;
}
.search-bar{
    background-color: #efefef;
    border-radius: 10px;
    font-size: 0.8em;
}
.search-bar p{
    margin: 0 20px;
}
.search-bar .errorlist{
    color: #dd0002;
}
.btn-xs{
    font-size: 0.6em;
}