{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    {% block extra_headers %}

    {% endblock %}
    {#    <link rel="stylesheet" type="text/css" href="{% static "ticketing/css/bootstrap.css" %}">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css ">
    <link rel="stylesheet" type="text/css" href="{% static "ticketing/css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "ticketing/css/styles1001.css" %}">
    {% block extra_css %}


    {% endblock %}
</head>
<body dir="rtl">
<div class="main_page">
    <div class="header m-0">
        <div class="container">
            <div class="col text-center">
                <h2 class="header_title">
                    سامانه فروش بلیت سینما
                </h2>
            </div>
        </div>
    </div>
    <div class="toolbar row align-items-center m-0">
        <div class="container">
            <div class="row m-0">
                <div class="col-5">
                    <h4 class="section_title">
                        {% block toolbar_title %}

                        {% endblock %}
                    </h4>
                </div>
                <div class="col-7 text-left">
                    {% block toolbar_buttons %}
                        <div class="row m-0">
                            <a class="btn btn-light py-1 px-2 mx-1 mr-auto" href="{% url "ticketing:movie_list" %}">
                                <i class="fa fa-film"></i>
                                فیلم ها
                            </a>
                            <a class="btn btn-light py-1 px-2 mx-1" href="{% url "ticketing:cinema_list" %}">
                                <i class="fas fa-building"></i>
                                سینماها
                            </a>
                            <a class="btn btn-success py-1 px-2 mx-1" href="{% url "ticketing:showtime_list" %}">
                                <i class="fa fa-ticket-alt"></i>
                                خرید بلیت
                            </a>

                            {% if user.is_authenticated %}
                                <div class="dropdown">
                                    <a class="btn btn-primary dropdown-toggle py-1 px-2 mx-1" id="user-button" href="#"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="fas fa-user"></i>
                                        {{ user.get_full_name }}
                                    </a>
                                    <div class="dropdown-menu text-right" aria-labelledby="user-button">
                                        <div class="dropdown-item-text pr-4">
                                            <i class="fas fa-coins"></i>
                                            اعتبار:
                                            {{ user.profile.balance }}
                                            تومان
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url "accounts:profile_details" %}">
                                            <i class="far fa-address-card"></i>
                                            نمایه کاربری
                                        </a>
                                        <a class="dropdown-item" href="{% url "ticketing:ticket_list" %}">
                                            <i class="fas fa-ticket-alt"></i>
                                            بلیت های من
                                        </a>
                                        <a class="dropdown-item text-danger" href="{% url "accounts:logout" %}">
                                            <i class="fas fa-sign-out-alt"></i>
                                            خروج
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <a class="btn btn-primary py-1 px-2 mr-3" href="{% url "accounts:login" %}">
                                    <i class="fas fa-sign-in-alt"></i>
                                    ورود
                                </a>
                            {% endif %}
                        </div>

                    {% endblock %}
                </div>
            </div>
        </div>

    </div>

    {% block main_content %}

    {% endblock %}

    <div class="footer">
        <div class="container text-center">
            <p class="footer_content">
                ما را در شبکه های اجتماعی دنبال کنید.
            </p>
            <a class="social-media-icon" href="https://facebook.com/#">
                <i class="fab fa-facebook social_icon"></i>
            </a>
            <a class="social-media-icon" href="https://twitter.com/#">
                <i class="fab fa-twitter social_icon"></i>
            </a>
            <a class="social-media-icon" href="https://instagram.com/#">
                <i class="fab fa-instagram social_icon"></i>
            </a>
            <a class="social-media-icon" href="https://telegram.com/#">
                <i class="fab fa-telegram social_icon"></i>
            </a>
        </div>
    </div>
</div>
{#<script src="{% static "ticketing/js/jquery-3.5.0.min.js" %}"></script>#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
{#<script src="{% static "ticketing/js/bootstrap.bundle.js" %}"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="{% static "ticketing/js/main.js" %}"></script>
</body>
</html>