{% extends "ticketing/_base_page.html" %}


{% block title %}
    {{ movie.name }}
{% endblock %}


{% block toolbar_title %}
    <i class="fa fa-film"></i>
    {{ movie.name }}
{% endblock %}


{% block toolbar_buttons %}
    <a class="btn btn-warning py-1 px-2" href="{% url "ticketing:movie_list" %}">
        <i class="fa fa-film"></i>
        فهرست فیلم ها
    </a>
{% endblock %}


{% block main_content %}
    {# start page content here #}
    <div class="item_details">
        <div class="container p-0">
            <div class="row m-0">
                <div class="col-12 col-md-8 p-0">
                    <div class="row m-0 my-3">
                        <div class="col-2">
                            <small class="label_details">
                                کارگردان:
                            </small>
                        </div>
                        <div class="col-9 details_description">
                            {{ movie.director }}
                        </div>
                    </div>
                    <div class="row m-0 my-3">
                        <div class="col-2">
                            <small class="text-muted label_details">
                                محصول سال:
                            </small>
                        </div>
                        <div class="col-9 details_description">
                            {{ movie.year }}
                        </div>
                    </div>
                    <div class="row m-0 my-3">
                        <div class="col-2">
                            <small class="text-muted">
                                مدت زمان:
                            </small>
                        </div>
                        <div class="col-9 details_description">
                            {{ movie.length }}
                            دقیقه
                        </div>
                    </div>
                    <div class="row m-0 my-3">
                        <div class="col-2">
                            <small class="text-muted">
                                داستان فیلم:
                            </small>
                        </div>
                        <div class="col-9 details_description">
                            {{ movie.desciption }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <img class="movie_image" src="{{ movie.poster.url }}" alt="{{ movie.name }}">
                </div>
            </div>
        </div>
    </div>

{% endblock %}