{% extends "ticketing/_base_page.html" %}
{% load static %}

{% block title %}
    فهرست فیلم ها
{% endblock %}


{% block toolbar_title %}
    فهرست فیلم ها
{% endblock %}



{% block main_content %}
    <div class="movie_list_section">
        <div class="container py-3">
            {% if movie_list %}
                {% include "ticketing/_ad.html" %}
                <ul class="movie_lists">
                    {% for movie in movie_list %}
                        <li class="col-11 mx-auto my-1 movie_item">
                            <a href="{% url "ticketing:movie_details" movie_id=movie.id %}" class="movie_link">
                                <i class="fa fa-film"></i>
                                <span class="movie_name">
                                    {{ movie }}
                                </span>

                                <small class="director">
                                    ({{ movie.director }})
                                </small>
                            </a>
                        </li>
                    {% endfor %}

                </ul>
            {% else %}
                <div class="alert alert-danger col-11 mx-auto">
                    متاسفانه هیچ فیلمی برای نماییش وجود ندارد.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}