{% extends "ticketing/_base_page.html" %}
{% load static %}

{% block title %}
    خرید بلیت
{% endblock %}

{% block toolbar_title %}
<i class="fas fa-play-circle"></i>
    {{ showtime.movie }}
    <small class="showtime">
        ({{ showtime.start_time }})
    </small>
{% endblock %}

{% block toolbar_buttons %}
    <a class="btn btn-warning py-1 px-2" href="{% url "ticketing:showtime_list" %}">
        <i class="fas fa-list"></i>
        فهرست سانس ها
    </a>
    <div class="dropdown">
        <a class="btn btn-primary dropdown-toggle py-1 px-2" id="user-button" href="#"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fas fa-user"></i>
            {{ user.get_full_name }}
        </a>
        <div class="dropdown-menu text-right" aria-labelledby="user-button">
            <span class="dropdown-item-text">
                <i class="fas fa-coins"></i>
                اعتبار:
                {{ user.profile.balance }}
                تومان
            </span>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url "accounts:profile_details" %}">
                <i class="far fa-address-card"></i>
                نمایه کاربری
            </a>
            <a class="dropdown-item" href="{% url "ticketing:ticket_list" %}">
                <i class="fas fa-ticket-alt"></i>
                بلیت های من
            </a>
            <a class="dropdown-item" href="{% url "accounts:logout" %}">
                <i class="fas fa-sign-out-alt"></i>
                خروج
            </a>
        </div>
    </div>
{% endblock %}


{% block main_content %}
<div class="row py-3">
        <div class="col-8 item-details">
            <div class="row px-3">
                {% if showtime.status == showtime.SALE_OPENED %}
                    <div class="col-4">
                        <small class="text-muted">
                            <i class="fa fa-film"></i>
                            نام فیلم:
                        </small>
                    </div>
                    <div class="col-8">
                        {{ showtime.movie }}
                    </div>
                    <div class="w-100 my-1"></div>
                    <div class="col-4">
                        <small class="text-muted">
                            <i class="fas fa-building"></i>
                            نام سینما:
                        </small>
                    </div>
                    <div class="col-4">
                        {{ showtime.cinema}}
                    </div>
                    <div class="col-4 text-left">
                        <a class="btn btn-xs btn-primary my-1">
                            {{ showtime.free_seats }}
                            صندلی مانده
                        </a>
                    </div>
                    <div class="w-100 my-1"></div>
                    <div class="col-4">
                        <small class="text-muted">
                            <i class="fas fa-clock"></i>
                            شروع سانس:
                        </small>
                    </div>
                    <div class="col-8">
                        {{  showtime.start_time|date:"l Y/n/j ساعت H:i"  }}
                    </div>
                    <div class="w-100 my-1"></div>
                    <div class="col-2">
                        <small class="text-muted">
                            <i class="fas fa-location-arrow"></i>
                            آدرس سینما:
                        </small>
                    </div>
                    <div class="col-10 item-text-box">
                        {{ showtime.cinema.address }}
                    </div>
                    <div class="w-100 my-1"></div>
                    <div class="col-3">
                        <small class="text-muted">
                            <i class="fas fa-money-bill-wave"></i>
                            قیمت بلیت:
                        </small>
                    </div>
                    <div class="col-4">
                        {{ showtime.price }}
                        تومان
                    </div>
                    <div class="col-5">
                    <form action="" method="post" class="form-inline">
                        {% csrf_token %}
                        <select name="seat_count" class="form-control form-control-sm ml-2">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <button type="submit" class="btn btn-xs btn-success my-1" href="#">
                            خرید بلیت
                        </button>
                    </form>
                    </div>
                {% endif %}
                {% if error %}
                    <div class="w-100 my-1"></div>
                    <span class="col-12 alert-danger align-items-baseline small">
                        <i class="fas fa-exclamation-circle"></i>
                        {{ error }}
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="col-4 text-center" >
            <img class="item-image" src="{{ showtime.movie.poster.url }}" alt="{{ cinema.name }}">
            <i class="far fa-10x fa-building text-muted"></i>
        </div>
    </div>
{% endblock %}